.main-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    overflow-x: hidden;

}
.header{
    height:75px;
    width: 100%;
    background-color: rgb(41, 108, 232);
    color: white;
    text-align: center; 
}

.sub-container2{
    display: flex;
    gap: 10px;
    height: 100px;
    width: 100%;
    padding-left: 25px;
    align-items: center;


}
.innerSub-container2{
    display: flex;
    flex-direction: column;
    margin-top: 7px;
}
.sub-container4{
    height: auto;
    width:100%;
   

}

.hidden-div{
    width:250px;
    background: rgb(220, 220, 220);
    height:auto;
   
}